.customer-form,
.check-data {
  background: $white;
  padding: 1.5rem;
  border-radius: 0.7rem;
  border: 1px solid #ececec;
  margin: 2.5rem auto 0 auto;

  .country-helper {
    font-size: 0.8rem;
    margin-bottom: 0;
    color: $text-secondary;
  }

  .is-invalid > label {
    color: $error;
  }

  .is-invalid > input {
    border-color: $error;
  }

  .is-invalid > select {
    border-color: $error;
  }

  .text-error {
    color: $error;
    font-size: 0.9rem;
  }
}

.form-image-wrapper {
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.toggle {
  text-align: right;
  margin-bottom: 1rem;
  color: #0f6dfd;
  cursor: pointer;
  text-decoration: underline;
  font-size: .9rem;
}
