<div class="container my-4">
  <div class="footer-wrapper">
    We use GoCardless to process your Direct Debit payments. More information on how GoCardless processes your personal
    data and your data protection rights, including your right to object, is available at
    <a href="https://gocardless.com/privacy" target="_blank">gocardless.com/privacy</a>
  </div>
</div>
