<div class="container" *ngIf="!showErrorMessage && !showSuccessMessage">
  <div class="customer-form col-lg-6 col-md-10 col-sm-12">
    <div class="form-image-wrapper">
      <img class="img-fluid" src="assets/media/customer.png" alt="payment image" />
    </div>
    <form *ngIf="!showIban" [formGroup]="customerBankAccountForm" (ngSubmit)="onSubmit()">
      <div class="toggle" *ngIf="!showIban" (click)="toggleIbanVisibility()">Use IBAN</div>
      <div class="toggle" *ngIf="showIban" (click)="toggleIbanVisibility()">Use account number</div>
      <div class="row">
        <div
          [ngClass]="{
            'is-invalid':
              (isFormSubmitted && checkFormFieldValidity(account_holder_name)) || account_holder_name.hasError('custom')
          }"
          class="col-7 mb-3"
        >
          <label for="account_holder_name" class="form-label">Account Holder Name</label>
          <input
            type="text"
            class="form-control"
            id="account_holder_name"
            formControlName="account_holder_name"
            placeholder="Account Holder Name"
          />
          <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(account_holder_name)">{{
            errorFieldRequired
          }}</span>
          <span class="text-error" *ngIf="account_holder_name.hasError('custom')">{{
            account_holder_name.getError('custom')
          }}</span>
        </div>
        <div
          class="col-5 mb-3"
          [ngClass]="{
            'is-invalid': (isFormSubmitted && checkFormFieldValidity(currency)) || currency.hasError('custom')
          }"
        >
          <label for="currency" class="form-label">Currency*</label>
          <select id="currency" class="form-select" formControlName="currency" aria-label="Currency">
            <option value="GBP">British Pound</option>
          </select>
          <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(currency)">{{
            errorFieldRequired
          }}</span>
          <span class="text-error" *ngIf="currency.hasError('custom')">{{ currency.getError('custom') }}</span>
        </div>
      </div>
      <div class="row">
        <div
          [ngClass]="{
            'is-invalid':
              (isFormSubmitted && checkFormFieldValidity(account_number)) || account_number.hasError('custom')
          }"
          class="mb-3"
        >
          <label for="account_number" class="form-label">Account Number (8 characters)</label>
          <input
            type="text"
            class="form-control"
            id="account_number"
            formControlName="account_number"
            placeholder="Account Number"
          />
          <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(account_number)">{{
            errorFieldRequired
          }}</span>
          <span class="text-error" *ngIf="account_number.hasError('custom')">{{
            account_number.getError('custom')
          }}</span>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-7 col-md-7 col-sm-6 mb-3"
          [ngClass]="{
            'is-invalid': (isFormSubmitted && checkFormFieldValidity(branch_code)) || branch_code.hasError('custom')
          }"
        >
          <label for="branch_code" class="form-label">Sort Code (6 characters)</label>
          <input
            type="text"
            class="form-control"
            id="branch_code"
            formControlName="branch_code"
            placeholder="Sort Code"
          />
          <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(branch_code)">{{
            errorFieldRequired
          }}</span>
          <span class="text-error" *ngIf="branch_code.hasError('custom')">{{ branch_code.getError('custom') }}</span>
        </div>
        <div
          class="col-lg-5 col-md-5 col-sm-6 mb-3"
          [ngClass]="{
            'is-invalid': (isFormSubmitted && checkFormFieldValidity(country_code)) || country_code.hasError('custom')
          }"
        >
          <label for="country_code" class="form-label">Country Code*</label>
          <select id="country_code" class="form-select" formControlName="country_code" aria-label="Country Code">
            <option value="GB">GB (Great Britain)</option>
          </select>
          <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(country_code)">{{
            errorFieldRequired
          }}</span>
          <span class="text-error" *ngIf="country_code.hasError('custom')">{{ country_code.getError('custom') }}</span>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
      <p class="country-helper mt-2">*Only one currency / country code available for MVP</p>
    </form>

    <form *ngIf="showIban" [formGroup]="customerIbanForm" (ngSubmit)="onSubmit()">
      <div class="toggle" *ngIf="!showIban" (click)="toggleIbanVisibility()">Use IBAN</div>
      <div class="toggle" *ngIf="showIban" (click)="toggleIbanVisibility()">Use account number</div>

      <div class="row">
        <div
          [ngClass]="{
            'is-invalid':
              (isFormSubmitted && checkFormFieldValidity(account_holder_name_iban)) ||
              account_holder_name_iban.hasError('custom')
          }"
          class="col-7 mb-3"
        >
          <label for="account_holder_name_iban" class="form-label">Account Holder Name</label>
          <input
            type="text"
            class="form-control"
            id="account_holder_name_iban"
            formControlName="account_holder_name_iban"
            placeholder="Account Holder Name"
          />
          <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(account_holder_name_iban)">{{
            errorFieldRequired
          }}</span>
          <span class="text-error" *ngIf="account_holder_name_iban.hasError('custom')"
            >{{ account_holder_name_iban.getError('custom') }}
          </span>
        </div>
        <div
          class="col-5 mb-3"
          [ngClass]="{
            'is-invalid': (isFormSubmitted && checkFormFieldValidity(currency_iban)) || currency_iban.hasError('custom')
          }"
        >
          <label for="currency_iban" class="form-label">Currency*</label>
          <select id="currency_iban" class="form-select" formControlName="currency_iban" aria-label="Currency">
            <option value="GBP">British Pound</option>
          </select>
          <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(currency_iban)"
            >{{ errorFieldRequired }}
          </span>
          <span class="text-error" *ngIf="currency_iban.hasError('custom')">{{
            currency_iban.getError('custom')
          }}</span>
        </div>
      </div>
      <div
        class="mb-3"
        [ngClass]="{ 'is-invalid': (isFormSubmitted && checkFormFieldValidity(iban)) || iban.hasError('custom') }"
      >
        <label for="iban" class="form-label">IBAN</label>
        <input type="text" class="form-control" id="iban" formControlName="iban" placeholder="IBAN" />
        <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(iban)">{{ errorFieldRequired }}</span>
        <span class="text-error" *ngIf="iban.hasError('custom')">{{ iban.getError('custom') }}</span>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
      <p class="country-helper mt-2">*Only one currency / country code available for MVP</p>
    </form>
  </div>
</div>

<!--  <div class="row">-->
<!--    <div-->
<!--      [ngClass]="{-->
<!--          'is-invalid':-->
<!--            (isFormSubmitted && checkFormFieldValidity(account_holder_name_iban)) || account_holder_name_iban.hasError('custom')-->
<!--        }"-->
<!--      class="col-7 mb-3"-->
<!--    >-->
<!--      <label for="account_holder_name_iban" class="form-label">Account Holder Name</label>-->
<!--      <input-->
<!--        type="text"-->
<!--        class="form-control"-->
<!--        id="account_holder_name_iban"-->
<!--        formControlName="account_holder_name_iban"-->
<!--        placeholder="Account Holder Name"-->
<!--      />-->
<!--      <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(account_holder_name_iban)">{{-->
<!--        errorFieldRequired-->
<!--        }}</span>-->
<!--      <span class="text-error" *ngIf="account_holder_name_iban.hasError('custom')">{{-->
<!--        account_holder_name_iban.getError('custom')-->
<!--        }}</span>-->
<!--    </div>-->
<!--    <div-->
<!--      class="col-5 mb-3"-->
<!--      [ngClass]="{-->
<!--          'is-invalid': (isFormSubmitted && checkFormFieldValidity(currency_iban)) || currency_iban.hasError('custom')-->
<!--        }"-->
<!--    >-->
<!--      <label for="currency_iban" class="form-label">Currency*</label>-->
<!--      <select id="currency_iban" class="form-select" formControlName="currency_iban" aria-label="Currency">-->
<!--        <option value="GBP">British Pound</option>-->
<!--      </select>-->
<!--      <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(currency_iban)">{{-->
<!--        errorFieldRequired-->
<!--        }}</span>-->
<!--      <span class="text-error" *ngIf="currency_iban.hasError('custom')">{{ currency_iban.getError('custom') }}</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div-->
<!--    class="mb-3"-->
<!--    [ngClass]="{ 'is-invalid': (isFormSubmitted && checkFormFieldValidity(iban)) || iban.hasError('custom') }"-->
<!--  >-->
<!--    <label for="iban" class="form-label">IBAN</label>-->
<!--    <input type="text" class="form-control" id="iban" formControlName="iban" placeholder="IBAN" />-->
<!--    <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(iban)">{{ errorFieldRequired }}</span>-->
<!--    <span class="text-error" *ngIf="iban.hasError('custom')">{{ iban.getError('custom') }}</span>-->
<!--  </div>-->

<div *ngIf="showSuccessMessage">
  <div class="row">
    <div class="modalbox success col-sm-8 col-md-6 col-lg-4 center animate">
      <div class="icon">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path
            fill="none"
            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
          ></path>
        </svg>
      </div>
      <!--/.icon-->
      <h1>Success!</h1>
      <p>
        Your data has been saved. <br />
        Now you can check if your data is correct.
      </p>
      <button type="button" class="redo btn" (click)="onSuccess()">Check your data</button>
    </div>
    <!--/.success-->
  </div>
</div>

<div *ngIf="showErrorMessage">
  <div class="row">
    <div class="modalbox error col-sm-8 col-md-6 col-lg-4 center animate">
      <div class="icon">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path
            fill="none"
            d="M10.032,8.367c-1.112,0-2.016,0.905-2.016,2.018c0,1.111,0.904,2.014,2.016,2.014c1.111,0,2.014-0.902,2.014-2.014C12.046,9.271,11.143,8.367,10.032,8.367z M10.032,11.336c-0.525,0-0.953-0.427-0.953-0.951c0-0.526,0.427-0.955,0.953-0.955c0.524,0,0.951,0.429,0.951,0.955C10.982,10.909,10.556,11.336,10.032,11.336z"
          ></path>
          <path
            fill="none"
            d="M17.279,8.257h-0.785c-0.107-0.322-0.237-0.635-0.391-0.938l0.555-0.556c0.208-0.208,0.208-0.544,0-0.751l-2.254-2.257c-0.199-0.2-0.552-0.2-0.752,0l-0.556,0.557c-0.304-0.153-0.617-0.284-0.939-0.392V3.135c0-0.294-0.236-0.532-0.531-0.532H8.435c-0.293,0-0.531,0.237-0.531,0.532v0.784C7.582,4.027,7.269,4.158,6.966,4.311L6.409,3.754c-0.1-0.1-0.234-0.155-0.376-0.155c-0.141,0-0.275,0.055-0.375,0.155L3.403,6.011c-0.208,0.207-0.208,0.543,0,0.751l0.556,0.556C3.804,7.622,3.673,7.935,3.567,8.257H2.782c-0.294,0-0.531,0.238-0.531,0.531v3.19c0,0.295,0.237,0.531,0.531,0.531h0.787c0.105,0.318,0.236,0.631,0.391,0.938l-0.556,0.559c-0.208,0.207-0.208,0.545,0,0.752l2.254,2.254c0.208,0.207,0.544,0.207,0.751,0l0.558-0.559c0.303,0.154,0.616,0.285,0.938,0.391v0.787c0,0.293,0.238,0.531,0.531,0.531h3.191c0.295,0,0.531-0.238,0.531-0.531v-0.787c0.322-0.105,0.636-0.236,0.938-0.391l0.56,0.559c0.208,0.205,0.546,0.207,0.752,0l2.252-2.254c0.208-0.207,0.208-0.545,0.002-0.752l-0.559-0.559c0.153-0.303,0.285-0.615,0.389-0.938h0.789c0.295,0,0.532-0.236,0.532-0.531v-3.19C17.812,8.495,17.574,8.257,17.279,8.257z M16.747,11.447h-0.653c-0.241,0-0.453,0.164-0.514,0.398c-0.129,0.496-0.329,0.977-0.594,1.426c-0.121,0.209-0.089,0.473,0.083,0.645l0.463,0.465l-1.502,1.504l-0.465-0.463c-0.174-0.174-0.438-0.207-0.646-0.082c-0.447,0.262-0.927,0.463-1.427,0.594c-0.234,0.061-0.397,0.271-0.397,0.514V17.1H8.967v-0.652c0-0.242-0.164-0.453-0.397-0.514c-0.5-0.131-0.98-0.332-1.428-0.594c-0.207-0.123-0.472-0.09-0.646,0.082l-0.463,0.463L4.53,14.381l0.461-0.463c0.169-0.172,0.204-0.434,0.083-0.643c-0.266-0.461-0.467-0.939-0.596-1.43c-0.06-0.234-0.272-0.398-0.514-0.398H3.313V9.319h0.652c0.241,0,0.454-0.162,0.514-0.397c0.131-0.498,0.33-0.979,0.595-1.43c0.122-0.208,0.088-0.473-0.083-0.645L4.53,6.386l1.503-1.504l0.46,0.462c0.173,0.172,0.437,0.204,0.646,0.083c0.45-0.265,0.931-0.464,1.433-0.597c0.233-0.062,0.396-0.274,0.396-0.514V3.667h2.128v0.649c0,0.24,0.161,0.452,0.396,0.514c0.502,0.133,0.982,0.333,1.433,0.597c0.211,0.12,0.475,0.089,0.646-0.083l0.459-0.462l1.504,1.504l-0.463,0.463c-0.17,0.171-0.202,0.438-0.081,0.646c0.263,0.448,0.463,0.928,0.594,1.427c0.061,0.235,0.272,0.397,0.514,0.397h0.651V11.447z"
          ></path>
        </svg>
      </div>
      <!--/.icon-->
      <h1>Error!</h1>
      <p>Something went wrong. <br />Please try again later.</p>
      <button type="button" class="redo btn" (click)="onError()">Go back to form</button>
    </div>
    <!--/.error-->
  </div>
</div>
