<div class="container text-center mt-5">
  <h2>Set up a Direct Debit with</h2>
  <div class="logo-wrapper mt-4">
    <img class="img-fluid" src="assets/media/Be_logo.png" alt="be_logo" />
  </div>
</div>
