@import "src/app/styles/colors";
@import "src/app/styles/form";
@import "src/app/styles/info_messages";

body {
  background-color: $light-grey;
}

/* -----
SVG Icons
----- */

.svg-icon {
  width: 5em;
  height: 5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $white;
}

.svg-icon circle {
  stroke: $white;
  stroke-width: 1;
}

.form-label {
  margin-bottom: 0.6rem;
}
