<div *ngIf="!showSuccessMessage && !showErrorMessage" class="container">
  <form class="customer-form col-lg-6 col-md-10 col-sm-12" [formGroup]="collectCustomerForm" (ngSubmit)="onSubmit()">
    <div class="form-image-wrapper">
      <img class="img-fluid" src="assets/media/customer.png" alt="customer image" />
    </div>
    <div class="toggle" *ngIf="!hasCompanyName" (click)="toggleCompanyName()">Show form for company</div>
    <div class="toggle" *ngIf="hasCompanyName" (click)="toggleCompanyName()">Show form for private customer</div>
    <div class="row" *ngIf="!hasCompanyName">
      <div
        [ngClass]="{
          'is-invalid': (isFormSubmitted && checkFormFieldValidity(given_name)) || given_name.hasError('custom')
        }"
        class="col-6 mb-3"
      >
        <label for="given_name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="given_name" formControlName="given_name" placeholder="First Name" />
        <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(given_name)">{{
          errorFieldRequired
        }}</span>
        <span class="text-error" *ngIf="given_name.hasError('custom')">{{ given_name.getError('custom') }} </span>
      </div>
      <div
        class="col-6 mb-3"
        [ngClass]="{
          'is-invalid': (isFormSubmitted && checkFormFieldValidity(family_name)) || family_name.hasError('custom')
        }"
      >
        <label for="family_name" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="family_name"
          formControlName="family_name"
          placeholder="Last Name"
        />
        <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(family_name)">{{
          errorFieldRequired
        }}</span>
        <span class="text-error" *ngIf="family_name.hasError('custom')">{{ family_name.getError('custom') }} </span>
      </div>
    </div>
    <div class="row" *ngIf="hasCompanyName">
      <div
        class="col-12 mb-3"
        [ngClass]="{
          'is-invalid': (isFormSubmitted && checkFormFieldValidity(company_name)) || company_name.hasError('custom')
        }"
      >
        <label for="company_name" class="form-label">Company Name</label>
        <input
          type="text"
          class="form-control"
          id="company_name"
          formControlName="company_name"
          placeholder="Company Name"
        />
        <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(company_name)">{{
          errorFieldRequired
        }}</span>
        <span class="text-error" *ngIf="company_name.hasError('custom')">{{ company_name.getError('custom') }} </span>
      </div>
    </div>
    <div class="row">
      <div
        class="col-6 mb-3"
        [ngClass]="{
          'is-invalid': (isFormSubmitted && checkFormFieldValidity(country_code)) || country_code.hasError('custom')
        }"
      >
        <label for="country_code" class="form-label">Country*</label>
        <select id="country_code" class="form-select" formControlName="country_code" aria-label="Country">
          <option value="GB">Great Britain</option>
        </select>
        <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(country_code)">{{
          errorFieldRequired
        }}</span>
        <span class="text-error" *ngIf="country_code.hasError('custom')">{{ country_code.getError('custom') }} </span>
      </div>
      <div
        class="col-6 mb-3"
        [ngClass]="{
          'is-invalid': (isFormSubmitted && checkFormFieldValidity(postal_code)) || postal_code.hasError('custom')
        }"
      >
        <label for="postal_code" class="form-label">Postal Code</label>
        <input
          type="text"
          class="form-control"
          id="postal_code"
          formControlName="postal_code"
          placeholder="Postal Code"
        />
        <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(postal_code)">{{
          errorFieldRequired
        }}</span>
        <span class="text-error" *ngIf="postal_code.hasError('custom')">{{ postal_code.getError('custom') }} </span>
      </div>
    </div>
    <div
      class="mb-3"
      [ngClass]="{ 'is-invalid': (isFormSubmitted && checkFormFieldValidity(city)) || city.hasError('custom') }"
    >
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" formControlName="city" placeholder="City" />
      <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(city)">{{ errorFieldRequired }}</span>
      <span class="text-error" *ngIf="city.hasError('custom')">{{ city.getError('custom') }} </span>
    </div>
    <div class="row">
      <div
        class="mb-3"
        [ngClass]="{
          'is-invalid': (isFormSubmitted && checkFormFieldValidity(address_line1)) || address_line1.hasError('custom')
        }"
      >
        <label for="address_line1" class="form-label">Addres</label>
        <input
          type="text"
          class="form-control"
          id="address_line1"
          formControlName="address_line1"
          placeholder="Address"
        />
        <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(address_line1)">{{
          errorFieldRequired
        }}</span>
        <span class="text-error" *ngIf="address_line1.hasError('custom')">{{ address_line1.getError('custom') }} </span>
      </div>
    </div>
    <div class="row">
      <div
        [ngClass]="{
          'is-invalid':
            (isFormSubmitted && checkFormFieldValidity(email)) ||
            (isFormSubmitted && checkPatternValidity(email)) ||
            email.hasError('custom')
        }"
        class="col-6 mb-3"
      >
        <label for="email" class="form-label">E-mail address</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="E-mail address" />
        <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(email)">{{
          errorFieldRequired
        }}</span>
        <span class="text-error" *ngIf="isFormSubmitted && checkPatternValidity(email)">{{
          errorWrongEmailFormat
        }}</span>
        <span class="text-error" *ngIf="email.hasError('custom')">{{ email.getError('custom') }} </span>
      </div>
      <div
        class="col-6 mb-3"
        [ngClass]="{
          'is-invalid':
            (isFormSubmitted && checkFormFieldValidity(phone_number)) ||
            (isFormSubmitted && checkPatternValidity(phone_number)) ||
            phone_number.hasError('custom')
        }"
      >
        <label for="phone_number" class="form-label position-relative">Phone number</label>
        <p class='helper'>(Inc. country code)</p>
        <input
          type="text"
          class="form-control"
          id="phone_number"
          formControlName="phone_number"
          placeholder="Phone Number"
        />
        <span class="text-error" *ngIf="isFormSubmitted && checkFormFieldValidity(phone_number)">{{
          errorFieldRequired
        }}</span>
        <span class="text-error" *ngIf="phone_number.hasError('custom')">{{ phone_number.getError('custom') }} </span>
        <span class="text-error" *ngIf="isFormSubmitted && checkPatternValidity(phone_number)">{{
          errorWrongPhoneNumberFormat
        }}</span>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Continue</button>
    </div>
    <p class="country-helper mt-3">*Only one country available for MVP</p>
  </form>
</div>

<div *ngIf="showSuccessMessage">
  <div class="row">
    <div class="modalbox success col-sm-8 col-md-6 col-lg-4 center animate">
      <div class="icon">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path
            fill="none"
            d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
          ></path>
        </svg>
      </div>
      <!--/.icon-->
      <h1>Success!</h1>
      <p>
        Your personal information has been saved. <br />
        Now you can add your account information.
      </p>
      <button type="button" class="redo btn" (click)="onSuccess()">Go to account form</button>
    </div>
    <!--/.success-->
  </div>
</div>

<div *ngIf="showErrorMessage">
  <div class="row">
    <div class="modalbox error col-sm-8 col-md-6 col-lg-4 center animate">
      <div class="icon">
        <svg class="svg-icon" viewBox="0 0 20 20">
          <path
            fill="none"
            d="M10.032,8.367c-1.112,0-2.016,0.905-2.016,2.018c0,1.111,0.904,2.014,2.016,2.014c1.111,0,2.014-0.902,2.014-2.014C12.046,9.271,11.143,8.367,10.032,8.367z M10.032,11.336c-0.525,0-0.953-0.427-0.953-0.951c0-0.526,0.427-0.955,0.953-0.955c0.524,0,0.951,0.429,0.951,0.955C10.982,10.909,10.556,11.336,10.032,11.336z"
          ></path>
          <path
            fill="none"
            d="M17.279,8.257h-0.785c-0.107-0.322-0.237-0.635-0.391-0.938l0.555-0.556c0.208-0.208,0.208-0.544,0-0.751l-2.254-2.257c-0.199-0.2-0.552-0.2-0.752,0l-0.556,0.557c-0.304-0.153-0.617-0.284-0.939-0.392V3.135c0-0.294-0.236-0.532-0.531-0.532H8.435c-0.293,0-0.531,0.237-0.531,0.532v0.784C7.582,4.027,7.269,4.158,6.966,4.311L6.409,3.754c-0.1-0.1-0.234-0.155-0.376-0.155c-0.141,0-0.275,0.055-0.375,0.155L3.403,6.011c-0.208,0.207-0.208,0.543,0,0.751l0.556,0.556C3.804,7.622,3.673,7.935,3.567,8.257H2.782c-0.294,0-0.531,0.238-0.531,0.531v3.19c0,0.295,0.237,0.531,0.531,0.531h0.787c0.105,0.318,0.236,0.631,0.391,0.938l-0.556,0.559c-0.208,0.207-0.208,0.545,0,0.752l2.254,2.254c0.208,0.207,0.544,0.207,0.751,0l0.558-0.559c0.303,0.154,0.616,0.285,0.938,0.391v0.787c0,0.293,0.238,0.531,0.531,0.531h3.191c0.295,0,0.531-0.238,0.531-0.531v-0.787c0.322-0.105,0.636-0.236,0.938-0.391l0.56,0.559c0.208,0.205,0.546,0.207,0.752,0l2.252-2.254c0.208-0.207,0.208-0.545,0.002-0.752l-0.559-0.559c0.153-0.303,0.285-0.615,0.389-0.938h0.789c0.295,0,0.532-0.236,0.532-0.531v-3.19C17.812,8.495,17.574,8.257,17.279,8.257z M16.747,11.447h-0.653c-0.241,0-0.453,0.164-0.514,0.398c-0.129,0.496-0.329,0.977-0.594,1.426c-0.121,0.209-0.089,0.473,0.083,0.645l0.463,0.465l-1.502,1.504l-0.465-0.463c-0.174-0.174-0.438-0.207-0.646-0.082c-0.447,0.262-0.927,0.463-1.427,0.594c-0.234,0.061-0.397,0.271-0.397,0.514V17.1H8.967v-0.652c0-0.242-0.164-0.453-0.397-0.514c-0.5-0.131-0.98-0.332-1.428-0.594c-0.207-0.123-0.472-0.09-0.646,0.082l-0.463,0.463L4.53,14.381l0.461-0.463c0.169-0.172,0.204-0.434,0.083-0.643c-0.266-0.461-0.467-0.939-0.596-1.43c-0.06-0.234-0.272-0.398-0.514-0.398H3.313V9.319h0.652c0.241,0,0.454-0.162,0.514-0.397c0.131-0.498,0.33-0.979,0.595-1.43c0.122-0.208,0.088-0.473-0.083-0.645L4.53,6.386l1.503-1.504l0.46,0.462c0.173,0.172,0.437,0.204,0.646,0.083c0.45-0.265,0.931-0.464,1.433-0.597c0.233-0.062,0.396-0.274,0.396-0.514V3.667h2.128v0.649c0,0.24,0.161,0.452,0.396,0.514c0.502,0.133,0.982,0.333,1.433,0.597c0.211,0.12,0.475,0.089,0.646-0.083l0.459-0.462l1.504,1.504l-0.463,0.463c-0.17,0.171-0.202,0.438-0.081,0.646c0.263,0.448,0.463,0.928,0.594,1.427c0.061,0.235,0.272,0.397,0.514,0.397h0.651V11.447z"
          ></path>
        </svg>
      </div>
      <!--/.icon-->
      <h1>Error!</h1>
      <p>Something went wrong. <br />Please try again later.</p>
      <button type="button" class="redo btn" (click)="onError()">Go back to form</button>
    </div>
    <!--/.error-->
  </div>
</div>
